* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #59e297;
  overflow: hidden;
  color: #000;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 100vh;
}
h1 {
  margin-bottom: 50px;
}
.items {
  width: 800px;
  height: 500px;
  margin: auto;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
img {
  width: 800px;
  height: 500px;
  object-fit: cover;
}
h2 {
  position: absolute;
  right: 0;
  background-color: #ba2929e2;
  margin: 20px;
  padding: 10px 60px;
  font-size: 20px;
  font-weight: 500;
  color: white;
}
.next,
.prev {
  position: absolute;
  top: 45%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  color: #34495e;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 15px;
  transition: 0.5s;
}
.button .prev {
  left: -25px;
}
.button .next {
  right: -25px;
}
button i {
  font-size: 20px;
}
button:hover {
  background: crimson;
  color: #fff;
  cursor: pointer;
}
